Source: chemkit
Section: science
Priority: optional
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8), libboost-dev, libeigen3-dev,
               libboost-filesystem-dev, libboost-iostreams-dev,
               libboost-program-options-dev, libboost-system-dev,
               libboost-thread-dev, qtbase5-dev
Standards-Version: 3.9.6
Homepage: http://sourceforge.net/projects/chemkit/
#Vcs-Git: git://anonscm.debian.org/collab-maint/chemkit.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/chemkit.git;a=summary

Package: chemkit
Architecture: any
Depends: libchemkit (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: an open source software library for chemistry applications
 chemkit is an open source software library for chemistry applications,
 particularly in the areas of cheminformatics, molecular visualization and
 molecular modeling.

Package: libchemkit
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: an open source software library for chemistry applications
 chemkit is an open source software library for chemistry applications,
 particularly in the areas of cheminformatics, molecular visualization and
 molecular modeling.
 This package contains library files.

Package: libchemkit-dev
Section: libdevel
Architecture: any
Depends: libchemkit (= ${binary:Version}), ${misc:Depends}
Description: an open source software library for chemistry applications
 chemkit is an open source software library for chemistry applications,
 particularly in the areas of cheminformatics, molecular visualization and
 molecular modeling.
 This package contains development files.
